@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');



.navbar .nav-item:hover .nav-link{
	background-color: #f1f2f6;
	color: #2f3542;
    border-radius:15px;
}

.bg-color{
	background-color: #eccc68;
}


h3{
	font-family: 'Rubik Distressed', cursive;
	
}